# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.out
*.aux
*.fdb_latexmk
*.log
*.synctex.gz
*.bbl
*.blg
*.fls
.DS_Store
.Rapp.history

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Data files should not be saved
data/
plots/
multiscale-multinomial.pdf
img/paths/
img/densities/
img/buckets/
img/temp/
python/temp.py
gfl.pdf

#added by tanghao 20181215
env
*.swp 
*.swo 
__pycache__
